@model List<VeriErisimKatmani.Proje>
@{
    ViewBag.Title = "Contact";
}
@section Css{
    <link rel="stylesheet" type="text/css" href="~/css/page.css" />
}
<div class="container-fluid animate pagewrapper">
    <!--section-->
    <div class="container-fluid section PageHeader contact">
        <div class="container-fluid container">
            <div class="row center-xs middle-xs">
                <div class="col-xs-10">
                    <h1>Projelerimiz</h1>
                    <p class="breadcrumbs">
                        <a href="@Url.Action("Index","Home")">ANA SAYFA</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Projelerimiz","Home")">PROJELERİMİZ</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--/section-->
    <!--section-->
    <div class="container-fluid section grey">
        <div class="container-fluid container">
            <div class="row mt-3">
                <div class="col-xs sliderBox">
                    <div class="row">
                     @foreach (var item in Model)
                     {
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 slide">
                            <div class="contentBox">
                                <span class="Image">
                                    <img src="../../images/@item.ResimYolu" style="max-height:250px!important;max-width:370px!important;" height="300" width="370" />
                                </span>
                                <span class="Text">
                                    <h3>@item.Ad</h3>
                                    @if (item.Aciklama.Length < 50)
                                    {
                                        <p>@item.Aciklama</p>

                                    }
                                    else
                                    {
                                        <p>@item.Aciklama.Substring(0,50)...</p>

                                    }
                                    <a href="@Url.Action("ProjeDetayı","Home",new { projeId=item.Id})">Devamı</a>
                                </span>
                            </div>
                        </div>
                     }
                        
                    
                        <!--/item-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/section-->
</div>
@section Scripts{
    <script src="~/js/slick.min.js"></script>
}